.tablesection{
    margin: 20px 0 30px 200px;
    padding: 10px;
    border: 1px solid #dedede;
}
th{
    padding: 10px;
}
td{
    padding: 10px;
}
.dataform{
    padding: 50px 0 30px 200px;
}
.datablock{
    padding-bottom: 8px;
}
.nameInput{
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #afaeae;
    border-radius: 5px;
    width: 250px;
}
.nameInput:focus{
    outline: none;
}
.sub-btn{
    margin: 15px 15px 0 0;
    padding: 9px 26px;
    color: #fff;
    background-color:rgb(231, 111, 5);
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.edit-btn{
    padding: 6px 18px;
    font-size: 13px;
}